<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Evento</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header></header>
  <h1>Editar evento</h1>
  <form action="#" th:action="@{/evento/{id}(id=${evento.id})}" th:object="${evento}" method="post" id="form_edita_evento">
      <input type="hidden" name="_method" value="put">
          <div class="p-2">
              <label for="nome">Nome do Evento :</label>
              <input type="text" th:field="*{nome}" name="nome" id="nome">
              <span th:errors="*{nome}" th:if="${#fields.hasErrors('nome')}"></span>
          </div>

          <div class="p-2">
              <label for="data">Data do Evento :</label>
              <input type="text" th:field="*{data}" name="data" id="data">
              <span th:errors="*{data}" th:if="${#fields.hasErrors('data')}"></span>
          </div>

          <div class="p-2">
              <label for="url">Url para acessar Evento :</label>
              <input type="text" th:field="*{url}" name="url" id="url">
              <span th:errors="*{url}" th:if="${#fields.hasErrors('url')}"></span>
          </div>
        <label>Selecione a cidade na qual ocorrerá o evento:</label>
         <select id="dropDownList" style="display:block" name="cidade">
              <option th:each="cidade : ${cidades}" th:value="${cidade.id}" th:text="${cidade.nome + '-' + cidade.estado}"></option>
        </select>

          <button style="margin-top:10px">Concluir Edição</button>
  </form>
  <script src="/js/template.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>