<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nova Cidade</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header></header>
    <main>
        <h2>Cadastrar Cidade</h2>
        <form action="#" th:action="@{/cidade/cadastrar}"  th:object="${cidade}" method="post" id="form_adiciona_cidade">
            <div class="p-2">
                <label for="nome">Nome da Cidade :</label>
                <input type="text" th:field="*{nome}" name="nome" id="nome">
                <span th:errors="*{nome}" th:if="${#fields.hasErrors('nome')}"></span>
            </div>
            <div class="p-2">
                <label for="estado">Estado :</label>
                <input type="text" th:field="*{estado}" name="estado" id="estado">
                <span th:errors="*{estado}" th:if="${#fields.hasErrors('estado')}"></span>
            </div>
            <button>Adicionar Cidade</button>
        </form>
    </main>
    <script type="module" src="/js/template.js"></script>
</body>
</html>