<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nova Cidade</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header></header>
    <main>
        <form  action="/cidade/cadastrar"  th:object="${cidade}" method="post" id="form_adiciona_cidade">

        </form>
    </main>
    <script type="module" src="/js/template.js"></script>
    <script type="module" src="/js/nova_cidade.js"></script>
</body>
</html>