<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Evento</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header></header>
    <main>
        <h2>Cadastrar Evento</h2>
        <form action="#" th:action="@{/evento/cadastrar}"  th:object="${evento}" method="post" id="form_adiciona_evento" class="p-2">
                <div class="p-2">
                    <label for="nome">Nome do Evento :</label>
                    <input type="text" th:field="*{nome}" id="nome">
                    <span th:errors="*{nome}" th:if="${#fields.hasErrors('nome')}" />
                </div>

                <div class="p-2">
                    <label for="data">Data do Evento :</label>
                    <input type="text" th:field="*{data}" id="data">
                    <span th:errors="*{data}" th:if="${#fields.hasErrors('data')}" />
                </div>

                <div class="p-2">
                    <label for="url">Url para acessar Evento :</label>
                    <input type="text" th:field="*{url}"  id="url">
                    <span th:errors="*{url}" th:if="${#fields.hasErrors('url')}"/>
                </div>
            <select id="dropDownList" style="display:block" name="cidade">
                <option value="0">Selecione a cidade na qual ocorrerá o evento</option>
                <option th:each="cidade : ${cidades}" th:value="${cidade.id}" th:text="${cidade.nome}"></option>
            </select>
            <button style="margin-top:10px">Adicionar evento</button>
        </form>
    </main>
    <script src="/js/template.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>